<p>
  <strong>Nome:</strong>
  <%=@user.name%>
</p>
 
<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.pass  %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @user.bday.to_date %>
</p>
<p>
  <strong>Ocupação:</strong>
  <%= @user.job  %>
</p>

<p>
  <strong>Natruralidade</strong>
  <%= @user.naturality  %>
</p>
